@CHARSET "utf-8";
.houseRegister {
	height: 100%;
	width: 100%;
	text-align: center;
	
}
.HRsubject{
}
.hostInfo_subject{
background-color: orange;
}
.info{
	width: 30%;
	height: 100%;
	float: left;
}
.hostInfo{
	text-align: center;
	background-color: red;
}

.hostInfo_content{
	text-align: center;
	background-color: red;
}