.login_layerWindow{display:none;position:fixed;_position:absolute;top:0;left:0;z-index:10000;width:100%;height:100%}
.login_layerWindow.open{display:block}
.login_layerWindow .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
#login_layer{
	position:absolute;width:250px;top:25%;left:40%;margin:0px auto;padding:0px 28px 0 28px;
	border:2px solid #9BC3FF; background:#fff;font-size:12px;font-family:Tahoma, Geneva, sans-serif;
	color:#767676;line-height:normal;white-space:normal; 
}
.login_line{margin:10px 0 0;height:80px;}
.box_in{float:left;margin:0 10px 0; }
.box_in input{width:120px;height:24px;display:block;margin:3px 0 0;}
.btn_login{
			width:72px;height:60px;background:#3C467D;color:white;float:left;
			line-height:60px;text-align:center;margin-top:5px;
			cursor: pointer;
			}
#login_layer h2{color:#636363;font-size:24px;line-height:40px;}
.close { margin-bottom:10px; text-decoration: none; width:100%; text-align:right; cursor: pointer}
.close a { color: #9BC3FF; }
#loginTbl tr td{
	font-size:11px;
	font-family : 'NanumGothic';
}

.join_layerWindow{display:none;position:fixed;_position:absolute;top:0;left:0;z-index:10000;width:100%;height:100%}
.join_layerWindow.open{display:block}
.join_layerWindow .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
#join_layer{
	position:absolute;width:250px;top:25%;left:40%;margin:0px auto;padding:0px 28px 0 28px;
	border:2px solid #9BC3FF; background:#fff;font-size:12px;font-family:Tahoma, Geneva, sans-serif;
	color:#767676;line-height:normal;white-space:normal; 
}

.box_in_j{float:center;margin:0 10px 0; }
.box_in_j input{width:200px;height:24px; display:block;margin:3px 0 0;}
.btn_join{
			width:205px;height:35px;background:#3C467D;color:white;float:left;
			line-height:30px;text-align:center; margin:10px 10px 10px; display:block;
			cursor: pointer;
			}




.header_menu{width:100%; height:50px;line-height:20px;background:#9BC3FF;  }
.header_menu .inner{width:600px; margin:auto;position:relative; top:0;left:0; float:right; margin-right:30px;}
.header_menu .inner span{float:right; margin-top:5px; margin-right:5px;} 
.header_menu .inner span a{padding:5px 10px;color:#646496;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800; font-size:15px; text-decoration:none;}
.header_menu .inner span.admin a{color:#ee1c25;text-decoration:underline;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;}



























