@media print {
	* {
		font-family:"돋움", dotum, san-serif;
		font-size: 12px;
		-webkit-text-size-adjust:none;
	}
	#headArea, .footWrap, #footArea, #quickMenuArea, #bodyLeft {display:none;}
}

/* HTML5 display-role reset for older browsers */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section{display: block;}



/* main.jsp */
/* 상단 롤링 블록 */
 * { margin:0px; padding:0px; }
        /* Animation Canvas */
        .animation_canvas  {
            overflow:hidden;
            position:relative;     
            margin:30px;     
            float:left; 
            width:900px; height:400px;
        }
    
        /* Slider Panel */
        .slider_panel { width:4500px; position:relative; }
        .slider_image { float:left; width:900px; height:400px; }
    
        /* Slider Text Panel */
        .slider_text_panel { position:absolute; top:200px; left:50px; }
        .slider_text { position:absolute; width:250px; height:150px; color:white;}
    
        /* Control Panel */
        .control_panel  {
            position:absolute; top:380px; 
            left:270px; height:13px; 
            overflow:hidden; 
        }

        .control_button {
            width:12px; height:46px;
            position:relative; 
    
            float:left; cursor:pointer;  
            background:url('/TripINN/images/point_button.png');
        }
        .control_button:hover { top:-16px; }
        .control_button.active { top:-31px; }
/* 공지사항 블록 */
.noticeBlock{
  /*   border: 1px solid; */
    position: relative;
    width: 350px;
    height: 400px;
    float: left;
    padding:30px;
}

.noticeCont {
    position: relative;
    float: left;
    width: 340px;
    margin: 10px 0px 20px;
    /* border: 1px solid; */
}
.noticeCont .tab {
    padding-top: 23px;
}

.noticeCont h4.tab1 {
    left: 0;
}
.noticeCont h4.tab1 a {
    background-image: url(/TripINN/images/news_t01.gif);
}

.noticeCont h4 {
    position: absolute;
    top: 0;
    height: 23px;
}

.noticeCont h4.tab2 {
    left: 0;
}
.noticeCont h4.tab2 a {
    background-image: url(/TripINN/images/news_t02.gif);
}
.noticeCont h4.on a {
    background-position: 0 -23px;
}
.noticeCont h4 a {
    display: block;
    width: 66px;
    height: 23px;
    overflow: hidden;
    text-indent: -999em;
    background: 0 0 no-repeat;
}


a:visited {
    color: #333;
    text-decoration: none;
}
a:link {
    color: #333;
    text-decoration: none;
}

.noticeCont .tabContent {
    padding-top: 8px;
    width: 340px;
    height: 138px;
    border-top: 1px solid #c9c9c9;
}
.noticeCont h4 {
    position: absolute;
    top: 0;
    height: 23px;
}
.hide_el {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.noticeCont .tabContent li {
    position: relative;
    height: 13px;
    padding: 5px 0 5px 12px;
    background: url(http://www.jinair.com/images/newMain/dot.gif) no-repeat 0 8px;
    text-align: left;
}

.noticeCont .tabContent li a {
    font-size: 11px;
    letter-spacing: -1px;
    color: #666;
}

a:visited {
    color: #333;
    text-decoration: none;
}
a:link {
    color: #333;
    text-decoration: none;
}

#rptNotice_ctl00_btnNew {
    vertical-align: middle;
    margin-top: -3px;
}
.noticeCont .tabContent li span {
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 11px;
    color: #666;
}

ul, ol, li {
    list-style: none;
}

html, body, form, input, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
}
td, div, li, dt, dd, input, textarea, select, h4, h5 {
    font-family: Verdana, "돋움", dotum;
    font-size: 12px;
    word-spacing: 1px;
    font-weight: normal;
    color: #000;
}

img {
    border: 0;
    vertical-align: top;
}

div {
    display: block;
}

.noticeCont .more {
    position: absolute;
    top: 0px;
    right: 0px;


}


/* 왼쪽 간편 검색바 */

#leftDiv {/* width:30%; min-width:350px; */}
#preSearchForm { background-color:#6482B9; min-height:400px; width:280px; float:left; margin:50px 30px;  border-radius: 3px;/* border:2px solid #9BC3FF; */}
#preSearchForm div { text-align:center; color: white; font-family:'나눔 고딕 볼드','맑은 고딕',Malgun Gothic,sans-serif; }
#preSearchForm div h2 { color:white; margin-top:30px; padding:10px;}
#preSearchForm div .pre_srch_input { height:23px; width:230px; border-radius: 3px;}
#preSearchForm .pre_srch_submit img {margin-top:30px;}
#preSearchForm div .date {margin:-5px -3px 0px 15px; padding:8px; width:100px; float:left; text-align:left; list-style: none; font-size:13px; cursor:pointer;}
#preSearchForm div .datepicker { width:100px;  height:23px; border-radius: 2px;}
#preSearchForm .select {margin:-5px -3px 10px 15px; padding:8px; width:100px; float:left; text-align:left; list-style: none; font-size:13px; cursor:pointer;}
#preSearchForm select {width:103px; height:28px; color:#b0b0b0; margin:5px; border-style: inset; border-style: inset;border-color: initial;border-image: initial; border-width: 2px;}
/* 여행목적 */
#preSearchForm .hc_f_triptype {
    width: 235px;
    float: left;
    margin: 0px 20px 30px;
    text-align: left;
    font-weight: normal;
}
#preSearchForm .hc_f_triptype .hc_f_triptype_label {
	text-align:left;
}
#preSearchForm .hc_f_triptype .hc_f_triptype_label span {
    font-size: 1.15em;
}

#preSearchForm .hc_f_triptype .hc_f_triptype_options {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.1);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
    min-height: 30px;
    margin: 5px 0 0;
    padding: 0 10px 0 15px;
}

#preSearchForm .hc_f_triptype .hc_f_triptype_options label {
    float: left;
    position: relative;
    padding: 0;
    margin: 0px 12px;
    width: 30%;
    font-weight: normal;
}
#preSearchForm .hc_f_triptype .hc_f_triptype_options span {
    line-height: 14px;
    padding: 10px 0 2px 0px;
    display: inline-block;
}
#preSearchForm .hc_f_triptype .hc_f_triptype_options input {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 11px;
    left: 0;
    line-height: 14px;
    border-color: transparent;
}

#preSearchForm .hc_f_triptype .hc_f_triptype_help {
    display: block;
    position: relative;
    z-index: 99;
    top: 8px;
    width: 30px;
    height: 30px;
    float: right;
}
#preSearchForm .hc_f_triptype_tooltip_wrapper {
    position: relative;
}

#preSearchForm .hc_f_triptype_tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 40px;
    width: 280px;
    padding: 10px 10px 5px;
    background: rgba(255, 255, 255, 0.95);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    z-index: 500;
}
#preSearchForm  .hc_f_triptype_tooltip h3 {
    color: #2c4162;
    font-size: 1.15em;
    margin: 0;
    padding: 0 0 10px;
}

#preSearchForm .hc_f_triptype_tooltip li {
    color: #4e4e4e;
    padding: 0 0 10px 30px;
    position: relative;
        font-weight: bold;
}
#preSearchForm .hc_f_triptype .hc_f_triptype_help_icon {
    display: block;
    width: 30px;
    height: 30px;
    text-decoration: none;
}
#preSearchForm .hc_f_triptype .hc_f_triptype_help_icon:before {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    content: "\e944";
    font-family: icons;
    color: #00aef0;
    text-align: center;
    font-size: 1.6em;
} 
 
 .btn_search{
			width:205px;height:35px;background:#3C467D;color:white;
			line-height:30px;text-align:center; margin:40px 40px 10px; display:block;
			cursor: pointer;
			}
 
 
/* 오른쪽 미리보기 블럭 */ 
#rightDiv { width:65%; position:relative; float:left;margin:20px 10px 5px; } 
#rightDiv .subject { color:gray; text-align:left; position:relative; margin-top:20px; margin-bottom:10px; font-family:'나눔 고딕 볼드',Nanum Gothic-Bold,'맑은 고딕',Malgun Gothic,sans-serif;font-weight:800;}
#rightDiv .subject span a {float:right; text-decoration:none; color:gray; font-style:bold;}

/* 미리보기 블럭 */
#rightDiv .pre_List {width:100%; height:200px; border:2px solid #9BC3FF; overflow:hidden; margin-bottom:20px;}
#rightDiv .pre_List li {float:left; width:200px; height:180px; display:inline-block; margin:10px;}
#rightDiv .pre_List li a {text-decoration:none; color:gray;}
#rightDiv .pre_List li a span {display:block; font-size:12px; float:left; white-space:normal;}
#rightDiv .pre_List li a span strong{font-size:15px;}
#rightDiv .pre_List li img {with:150px; height:120px; }


