@media print {
	* {
		font-family:"µ¸¿ò", dotum, san-serif;
		font-size: 12px;
		-webkit-text-size-adjust:none;
	}
	#headArea, .footWrap, #footArea, #quickMenuArea, #bodyLeft {display:none;}
}

/* HTML5 display-role reset for older browsers */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section{display: block;}



/* main.jsp */
/* »ó´Ü ·Ñ¸µ */
#rolling { width: 100%; height:400px; float:left; margin-left:-30px; }
#rolling ul, li {list-style:none}
#rolling .rolling_wrap { } 	
  

/* ¿ÞÂÊ °£Æí °Ë»ö¹Ù */

#leftDiv {/* width:30%; min-width:350px; */}
#preSearchForm { background-color:#6482B9; min-height:400px; width:280px; float:left; margin:30px;  border-radius: 3px;border:2px solid #9BC3FF;}
#preSearchForm div { text-align:center;}
#preSearchForm div h3 { color:white; margin-top:30px; padding:10px;}
#preSearchForm div .pre_srch_input { height:23px; width:230px; border-radius: 3px;}
#preSearchForm .pre_srch_submit img {margin-top:30px;}
#preSearchForm div .date { color:white; margin:-5px 10px; padding:8px; width:100px; float:left; text-align:left; list-style: none; font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif; font-size:13px; margin-bottom:20px; cursor:pointer;}
#preSearchForm div .datepicker { width:100px;  height:23px; border-radius: 2px;}
#preSearchForm .select {font-size:13px;font-family:'³ª´® °íµñ º¼µå','¸¼Àº °íµñ',Malgun Gothic,sans-serif; color:white; border-radius: 3px;}
#preSearchForm select {border-radius: 2px;width:80px; height:23px; color:gray; margin:5px; height:23px; }
 
 .btn_search{
			width:205px;height:35px;background:#3C467D;color:white;
			line-height:30px;text-align:center; margin:40px 40px 10px; display:block;
			cursor: pointer;
			}
 
 
/* ¿À¸¥ÂÊ ¹Ì¸®º¸±â ºí·° */ 
#rightDiv { width:70%; position:relative; float:left;margin:20px 10px 5px; } 
#rightDiv .subject { color:gray; text-align:left; position:relative; margin-top:20px; margin-bottom:10px; font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;}
#rightDiv .subject span a {float:right; text-decoration:none; color:gray; font-style:bold;}

/* ¹Ì¸®º¸±â ºí·° */
#rightDiv .pre_List {width:100%; height:200px; border:2px solid #9BC3FF; overflow:hidden; margin-bottom:20px;}
#rightDiv .pre_List li {float:left; width:200px; height:180px; display:inline-block; margin:15px;}
#rightDiv .pre_List ul:first-child{ margin-left:15px;}
#rightDiv .pre_List li a {text-decoration:none; color:gray;}
#rightDiv .pre_List li a span {display:block; font-size:12px; float:left; white-space:normal;}
#rightDiv .pre_List li a span strong{font-size:15px;}
#rightDiv .pre_List li img {with:150px; height:120px; }


