@CHARSET "EUC-KR";

@charset "utf-8";

@media print {
	* {
		font-family:"µ¸¿ò", dotum, san-serif;
		font-size: 12px;
		-webkit-text-size-adjust:none;
	}
	#headArea, .footWrap, #footArea, #quickMenuArea, #bodyLeft {display:none;}
}

/* HTML5 display-role reset for older browsers */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section{display: block;}



/* main.jsp */

#rolling { width: 100%; height:400px; float:left; margin-left:-30px; }
#rolling ul, li {list-style:none}
#rolling .rolling_wrap { } 	
  

#leftDiv { background-color:#6482B9; min-height:500px; width:300px; float:left; margin:20px 20px 5px;  border-radius: 3px;border:2px solid #9BC3FF;}
#leftDiv div { text-align:center;}
#leftDiv div h3 { color:white;}
#leftDiv div .pre_srch_input { height:23px; width:280px; border-radius: 3px;}
#leftDiv .pre_srch_submit img {margin-top:30px;}
#leftDiv div .date { color:white; width:130px; float:left; text-align:left; margin:7px; list-style: none; font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif; font-size:13px; margin-bottom:20px; cursor:pointer;}
#leftDiv div .datepicker { width:130px;  border-radius: 2px;}
#leftDiv .select {font-size:13px; color:white; font-family:'³ª´® °íµñ º¼µå','¸¼Àº °íµñ',Malgun Gothic,sans-serif; ; border-radius: 3px;}
#leftDiv select {border-radius: 3px;}
 
#rightDiv { width:70%; position:relative; float:left;margin:20px 10px 5px; } 
#rightDiv .subject {text-align:left; position:relative;}
#rightDiv .subject span a {float:right; text-decoration:none; font-style:bold;}
#rightDiv .pre_houseList {width:100%; height:200px; border:2px solid #9BC3FF; overflow:hidden;}
#rightDiv .pre_houseList li {float:left; width:200px; display:inline-block; margin:10px;}
#rightDiv .pre_houseList li a {text-decoration:none; color:gray;}
#rightDiv .pre_houseList li a span {display:block; font-size:12px; float:left; }
#rightDiv .pre_houseList li a span strong{font-size:15px;}
#rightDiv .pre_houseList li img {with:150px; height:120px; }

