@CHARSET "UTF-8";

a:link, a:visited {text-decoration: none; color: #656565;}
/*qna쪽 게시판 유형*/
.board_list {width:100%;height:70%; border-bottom:1px solid #ccc; margin-top:13px;}
.board_list thead th:first-child{background-color:#edefed;}
.board_list thead th {border-bottom:2px ;padding:1px 0 13px 0;color:#3b3a3a;vertical-align:middle;background-color:#edefed;}
.board_list tbody td {border-top:1px solid #ccc;text-align:center;vertical-align:middle}
.board_list tbody tr:first-child td {border:none}

.board_list tbody td.title {text-align:left; padding-left:5px;vertical-align:middle;}
td.title2 a {font-size: 15px; padding-top: 15px; height:30px; }
.board_list tbody td a {display:inline-block}

/*faq쪽 게시판 유형*/
.board_list2 {width:100%;height:70%; border-bottom:1px solid #ccc; margin-top:0px;}
.board_list2 thead th:first-child{background-color:#edefed;}
.board_list2 thead th {border-bottom:2px ;padding:1px 0px 13px 0px;color:#3b3a3a;vertical-align:middle;background-color:#edefed;}
.board_list2 tbody td {border-top:1px solid #ccc;text-align:center;vertical-align:middle}
.board_list2 tbody tr:first-child td {border:none;}

.board_list2 tbody td.title {text-align:left; vertical-align:middle;padding-left:5px;}
td.title a { font-size: 24px; padding-top: 10px; height:60px;}
.board_list2 tbody td a {display:inline-block;}



.board_view {width:1100px;border-top:2px solid #dcdcdc; border-bottom:1px solid #ccc}
.board_view tbody th {text-align:center;background:#f7f7f7;color:#3b3a3a}
.board_view tbody th.list_tit {font-size:10px;color:#000;letter-spacing:0.1px}
.board_view tbody .no_line_b th, .board_view tbody .no_line_b td {border-bottom:none}
.board_view tbody th, .board_view tbody td {padding:5px 0 6px 6px;border-bottom:1px solid #ccc}
.board_view tbody td.view_text {border-top:1px solid #ccc; border-bottom:1px solid #ccc;padding:5px 8px 5px 8px}
.board_view tbody th.th_file {padding:0 0 0 5px; vertical-align:middle}


.board_view2 {width:1100px;border-top:0px solid #dcdcdc; border-bottom:1px solid #ccc}
.board_view2 tbody th {text-align:center;background:#f7f7f7;color:#3b3a3a}
.board_view2 tbody th.list_tit {font-size:10px;color:#000;letter-spacing:0.1px}
.board_view2 tbody .no_line_b th, .board_view tbody .no_line_b td {border-bottom:none}
.board_view2 tbody th, .board_view tbody td {padding:5px 0 6px 6px;border-bottom:1px solid #ccc}
.board_view2 tbody td.view_text {border-top:1px solid #ccc; border-bottom:1px solid #ccc;padding:5px 8px 5px 8px}
.board_view2 tbody th.th_file {padding:0 0 0 5px; vertical-align:middle}



.wdp_90 {width:90%}
.wdp_70 {width:70%}

.btn {border-radius:3px;padding:5px 0;color:blue !important; opacity:0.25; display:inline-block; background-color:bl; border:1px solid #56819d;text-align:right;vertical-align:middle}

.btn_list{border-radius:3px;padding:5px 0;color:white !important; display:inline-block; background-color:grey; border:1px solid #56819d;text-align:right;vertical-align:middle}
.btn_edit{border-radius:3px;padding:5px 0;color:white !important; opacity:0.65; display:inline-block; background-color:blue; border:1px solid #56819d;text-align:right;vertical-align:middle}
.btn_del{border-radius:3px;padding:5px 0;color:white !important; opacity:0.65; display:inline-block; background-color:red; border:1px solid #56819d;text-align:right;vertical-align:middle}
.btn_del_2{border-radius:3px;padding:5px 0;color:white !important; opacity:0.65; display:inline-block; background-color:red; border:1px solid #56819d;text-align:right;vertical-align:middle}

.btn_write{border-radius:3px;padding:5px 0;color:white !important; opacity:0.75; display:inline-block; background-color:black; border:1px solid #56819d;text-align:right;vertical-align:middle}
.btn_write_2{text-align:right;border-radius:3px;padding:5px 0;color:white !important; opacity:0.65; display:inline-block; background-color:black; border:1px solid #56819d;text-align:right;vertical-align:middle}

.btn_select{border-radius:3px;padding:5px 0;color:white !important; display:inline-block; background-color:grey; border:1px solid #56819d;text-align:right;vertical-align:middle;}
