@CHARSET "EUC-KR";

#header_container{
	margin:10px;
	font-family: "나눔 고딕","Nanum Gothic","맑은 고딕","Malgun Gothic","Apple Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
/* (container height - block height) / 2= margin  */
#house_searchForm{
	
	margin:0 auto;
	border: 2px solid #dcdcdc;
	border-radius: 10px;
    padding: 20px;
	width: 800px;
	height: 50px;
	display: block;
	font-size: 14px;
	align:center;
	background-color: white;
	
}

#house_searchForm div {margin-left: 15px; float: left; font-size: 14px;color: #484848;}
#house_searchForm div label {color:#8c8c8c;}
#house_searchForm div .location {height:30px; width:200px; }
#house_searchForm div .checkinout {height:30px; width:130px;}  
#house_searchForm div select {width:150px; height:38px; color:#aaaaaa; border-radius: 5px;}
#house_searchForm div img {width:30px; margin-top:20px; margin-left:-15px; margin-right:-15px;}
#searchBtn {width:40px; height:40px; margin-top:15px;}
label{
	display: block; 
}


input:not([type]), input[type="email" i], input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i] {
    padding: 1px 0px;
}

input, select {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
user agent stylesheet
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}