@CHARSET "UTF-8";

#wishIcon{
	background: url(/TripINN/images/house/icon_heart_white.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    float: left;
    margin: 2px 11px 0px;
}
#review_size_label{
	font-size: 18px;
    font-weight: bold;
    font-family: "나눔 고딕","Nanum Gothic","맑은 고딕","Malgun Gothic","Apple Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color:#484848;
}
#review_div{
	margin: 0px 0px 12px;
}
.review_textArea{
	width: 100%;
    margin-bottom: 6px;
    border-radius: 5px;
}
.review_text{
	width: 100%;
	height: 30px;
    margin-bottom: 6px;
    border-radius: 2px;
}
#HOUSE_CONTENT{
	width: 100%;
    margin-bottom: 6px;
    border-radius: 5px;
}

/* 왼쪽 : 숙소 상세 */
#houseDetail {
	width: 90%;
    margin: 0 auto;
	}
.houseHead{
	width: 100%;
	height: 100%;
    }
.houseInfo {
	float: left;
    /* border: 1px solid green; */
    height: 100%;
    width: 48%;
    margin-left: 5%;
    }


.map {
	width: 41%;
    height: 100%;
    float: left;
    margin-left: 12px;
    }
.houseMap{
	width: 100%;
    height:500px;
}
.houseInfo .house_subject {
	padding: 3%;
}
.houseInfo .house_subject .house_name label{
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.houseInfo .house_subject .subject_middle{
	margin-top: 2%;
	width: 100%;
    height: 80px;
}
.houseInfo .house_subject .subject_middle label{
	float: left;
}
.houseInfo .house_subject .subject_middle img{
	width:80px; height:80px; border-radius:74px;
	float: right;
}

.houseInfo .house_desc {border-bottom:1.5px solid gray; display:block; height:380px; color:#7878aa; font-size:14px;}
.houseInfo .house_desc div {border-bottom:0.5px solid gray; display:block; height:120px;}
.houseInfo .house_desc div ul { float:left; margin-left:-10px;}
.houseInfo .house_desc div ul li {list-style:none;width:150px;}

.pictures {width:22%;height:500px;float:left; border:1px solid blue; }
.review{
	width:90%;
	border:1px solid black;
	color:#7878aa;
	font-size:12px;
	margin-top: 1%;
    margin-left: 5%;
	}
 
.review .reviewBlock {
	border-bottom:1px solid gray;
	margin-top: 2%;
	height:150px;
	width:90%;
	margin: 0 auto;
	}
.review #review_left{
	padding-top: 1%;
	float: left;
	width: 70px;
	margin-right: 3%;
}
.review #review_right{
	float: left;
	width: 85%;
}
.review .reviewBlock .writer{
	width: 100%;
    height: 100%;
    margin-top: 10%;
    }
.review .reviewBlock .writer label {
	font-size: 15px;
    font-weight: bold;
    color: rgb(171, 171, 171);
    }
.review .reviewBlock .writer img {
	width: 70px;
    height: 70px;
    border-radius: 74px;
    margin-bottom: 10%;
	}

.review .reviewBlock .reviewContent{
	width: 100%;
    height: 100%;
    font-size: 20px;
    color: black;
    }
.review .reviewBlock .reviewDate {
	margin-top: 1%;
	width: 100%;
	color : #abacb0;
    text-align: center;
	}
.review .reviewBlock .like {
	float:right;
	text-align:center; background-color: #ffdbc1; padding:2px; width:40px; border:1px solid; color:#fafab4; border-radius:5px;
	}

#reviewForm button{
    width: 100%;
    height: 54px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #BABABB;
    color: #787878;
    outline: none !important;
    background: white;
    
	}
#reviewForm button:HOVER{
    width: 100%;
    height: 54px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    outline: none !important;
    background: #ff5a5f;
    
	}

.house_info_block{
	width: 100%;
}
.house_info_block .block_left{
	font-size: 19px;
	float: left;
	width: 30%;
	font-weight:normal !important;
	color: #484848 !important
}
.house_info_block .block_right{
	font-size: 19px;
	float:left;
	width: 70%;
	color: #484848 !important;
}

.block_hr {
	width: 98% !important;
	margin-top: 10% !important;
}